.container {
    margin: 30px 50px;
    // box-shadow: 0px 5px 15px #00347026;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    .image-cover {
        position: absolute;
        right: 60%;
        display: flex;
        justify-content: center;
        width: 675px;
        height: 940px;
        box-shadow: 7px 4px 20px 0px #00347026;
        z-index: 1;
        .image {
            justify-content: center;
        }
    }
    .info {
        position: absolute;
        top: 43%;
        left: 40%;
        border-radius: 5px;
        width: 1100px;
        box-shadow: 0px 5px 15px #00347026;
        .heading {
            background-color: #08c642;
            color: white;
            padding: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .book-content {
            padding: 10px;
        }
    }
}
