.wrapper {
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00347026;
    display: flex;
    justify-content: space-between;
    max-width: 860px;
    height: 177px;
    .inner {
        display: flex;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 25px;
        .title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 22px;
            // margin-bottom: 15px;
        }
        .author {
            color: #1076b5;
            font-weight: bold;
            // margin-bottom: 15px;
        }
        .dates {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .button {
        width: 34px;
        border-radius: 10px;
        background-color: #1076b5;
    }
    button:hover,
    button:focus {
        text-decoration: none;
        outline: none;
    }
}
@media only screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
        height: auto;
        .inner {
            flex-direction: column;
            align-items: center;
        }
        .info {
            align-items: center;
        }
        .dates {
            align-items: center;
        }
        .button {
            width: 100%;
        }
    }
}
