.wrapper {
    margin: 30px 50px;
    box-shadow: 0px 5px 15px #00347026;
    padding: 20px;
    .search-wrapper {
        display: flex;
        align-items: center;
        .search {
            margin-left: 20px;
            max-width: 500px;
        }
    }
    .library {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 900px) {
    .wrapper {
        margin: 0;
        height: auto;
    }
    .search-wrapper {
        flex-direction: column;
    }
}
