.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 130px;
    height: 29px;
    margin-top: 10px;
    &:nth-of-type(1) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.listItem {
    text-transform: uppercase;
    margin: 30px 0px;
}
